# Copyright 2024 Engineering Ingegneria Informatica S.p.A.
#
# This file is part of iotagent-aas
#
# iotagent-aas is free software: you can redistribute it and/or
# modify it under the terms of the GNU Affero General Public License as
# published by the Free Software Foundation, either version 3 of the License,
# or (at your option) any later version.
#
# iotagent-aas is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public
# License along with iotagent-aas.
# If not, seehttp://www.gnu.org/licenses/.
#
# For those usages not covered by the GNU Affero General Public License
# please contact with::[manfredi.pistone@eng.it, walterdomenico.vergara@eng.it]
# /

version: "3.1"

volumes:
  mongodb: ~

services:
  iot-agent:
    image: iotagent4fiware/iotagent-aas:latest
    hostname: iotagent-aas
    depends_on:
      - mongodb
      - iotcarsrv
      - orion
    networks:
      - hostnet
    ports:
      - "4041:4041"
      - "7896:7896"
    environment:
      - "DEFAULT_KEY=iot"
      - "DEFAULT_TRANSPORT=HTTP"
      - "IOTA_LOGLEVEL=DEBUG"
      - "IOTA_TIMESTAMP=true"
      - "IOTA_CB_HOST=orion"
      - "IOTA_CB_PORT=1026"
      - "IOTA_CB_NGSIVERSION=ld"
      - "IOTA_CB_NGSILDCONTEXT=https://uri.etsi.org/ngsi-ld/v1/ngsi-ld-core-context.jsonld"
      - "IOTA_CB_SERVICE=aas_ticket"
      - "IOTA_CB_SUBSERVICE=/demo"
      - "IOTA_NORTH_PORT=4041"
      - "IOTA_REGISTRY_TYPE=mongodb"
      - "IOTA_MONGO_HOST=mongodb"
      - "IOTA_MONGO_PORT=27017"
      - "IOTA_MONGO_DB=iotagent_aas"
      - "IOTA_SERVICE=aas_ticket"
      - "IOTA_SUBSERVICE=/demo"
      - "IOTA_PROVIDER_URL=http://iotagent-aas:4041"
      - "IOTA_DEVICEREGDURATION=P20Y"
      - "IOTA_DEFAULTTYPE=Device"
      - "IOTA_DEFAULTRESOURCE=/iot/aas"
      - "IOTA_EXPLICITATTRS=true"
      - "IOTA_EXTENDED_FORBIDDEN_CHARACTERS=[]"
      - "IOTA_AUTOPROVISION=true"
      - "IOTA_MQTT_PROTOCOL=mqtt"
      - "IOTA_MQTT_HOST=mosquitto"
      - "IOTA_MQTT_PORT=1883"
      - "IOTA_MQTT_CA="
      - "IOTA_MQTT_CERT="
      - "IOTA_MQTT_KEY="
      - "IOTA_MQTT_REJECT_UNAUTHORIZED=true"
      - "IOTA_MQTT_USERNAME="
      - "IOTA_MQTT_PASSWORD="
      - "IOTA_MQTT_QOS=0"
      - "IOTA_MQTT_RETAIN=false"
      - "IOTA_MQTT_RETRIES=5"
      - "IOTA_MQTT_RETRY_TIME=5"
      - "IOTA_MQTT_KEEPALIVE=60"
      - "IOTA_MQTT_AVOID_LEADING_SLASH=false"
      - "IOTA_MQTT_DISABLED=false"
      - "IOTA_HTTP_PORT=7896"
      - "IOTA_HTTP_TIMEOUT=1000"
      - "IOTA_HTTP_KEY="
      - "IOTA_HTTP_CERT="
      - "IOTA_AAS_ENDPOINT=http://localhost:9000/aas"
      - "IOTA_AAS_MT_AGENT_ID=age01_"
      - "IOTA_AAS_MT_ENTITY_ID=ticketmgmt01"
      - "IOTA_AAS_MT_ENTITY_TYPE=TicketManagement"
      - "IOTA_AAS_MT_STORE_OUTPUT=true"
      - "IOTA_AAS_MT_ATTR_SEPARATOR_CHARACTER=__"
    volumes:
      - ../conf:/opt/iotagent-aas/conf


  mongodb:
    image: mongo:4.2
    hostname: mongodb
    networks:
      - hostnet
    ports:
      - "27017:27017"
    command: --bind_ip_all
    volumes:
      - mongodb:/data

  orion:
    image: fiware/orion:3.10.1
    #image: fiware/orion-ld:1.5.1
    hostname: orion
    depends_on:
      - mongodb
    networks:
      - hostnet
    ports:
      - "1026:1026"
    command: -dbhost mongodb -logLevel DEBUG
    #command: -dbhost mongodb -logLevel DEBUG -mongocOnly -forwarding

  iotcarsrv:
    hostname: iotcarsrv
    image: iotagent4fiware/opcuacarsrv:latest
    networks:
      - hostnet
    ports:
      - "5001:5001"

networks:
  hostnet:
